*{
    
    padding: 0;
    margin: 0;
    background-color: black;

}

@font-face {

    font-family: 'Stopwatch';
    src: url("./font/DS-DIGI.TTF");

}

.stopwatch{

    color: white;
    font-family: 50px;
}

.design-class{

    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Stopwatch'; font-size: 60px;
    border-style: solid;border-radius: 100%;
    border-left-color: hsl(210,100%,40%);border-right-color: rgb(28, 228, 10);border-top-color: rgb(255, 5, 5);border-bottom-color: rgb(255, 5, 243);
    padding: 90px;

}  

button{
    
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;

}

button:hover{

    background-color: rgb(73, 71, 71);
    transition: all .4s ease-in-out;    
    cursor: pointer;

}

.button_beggin{

    background-color: hsl(210,100%,40%);

}

.button_stop{

    background-color: rgb(255, 5, 5)

}

.button_stop_2{

    background-color: rgb(28, 228, 10)

}

@media screen and (max-width: 775px){

    p.stopwatch{

        color: white;
        font-size: 60px !important;

    }


    
}


@media screen and (max-width: 414px){

    .design-class{
       
        padding: 50px;
    
    }  

}

@media screen and (max-width: 317px){

    p.stopwatch{

        color: white;
        font-size: 40px !important;

    }
    
    .design-class{
       
        font-size: 0px;
    
    }  

    
    .button_beggin, .button_stop{

        margin-top: 10px;
    
    }

    .button_stop_2{

        margin-left: 30px

    }


}
